In [1]:
import pandas as pd
import numpy as np

#### Í∏∞Ìöç 
Í∞ÅÏ¢Ö ÏßàÎ≥ë Î∞è ÏÉùÌôúÏäµÍ¥ÄÏóê Îî∞Î•∏ Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóòÎèÑ ÏòàÏ∏°

### Ïã¨Ïû•ÎßàÎπÑ ÌôòÏûê ÏòàÏ∏° 
#### Ïò§Ï∞®ÌñâÎ†¨

- ÏñëÏÑ±(Positive): Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóò ÌôòÏûêÎ•º ÏùòÎØ∏.
- ÏùåÏÑ±(Negative): Ï†ïÏÉÅ ÌôòÏûêÎ•º ÏùòÎØ∏.


> True Positive (TP): Î™®Îç∏Ïù¥ Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóò ÌôòÏûêÎ•º Ïò¨Î∞îÎ•¥Í≤å Î∂ÑÎ•ò Ìïú Í≤ΩÏö∞
>  
> False Positive (FP): Î™®Îç∏Ïù¥ Ï†ïÏÉÅ ÌôòÏûêÎ•º Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóò ÌôòÏûêÎ°ú ÏûòÎ™ª Î∂ÑÎ•òÌïú Í≤ΩÏö∞(Ïò§ÏßÑ, error I)
>  
> True Negative (TN): Î™®Îç∏Ïù¥ Ï†ïÏÉÅ ÌôòÏûêÎ•º Ï†ïÏÉÅÏúºÎ°ú Ïò¨Î∞îÎ•¥Í≤å Î∂ÑÎ•òÌïú Í≤ΩÏö∞ 
> 
> False Negative (FN): Î™®Îç∏Ïù¥ Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóò ÌôòÏûêÎ•º Ï†ïÏÉÅÏúºÎ°ú ÏûòÎ™ª Î∂ÑÎ•òÌïú Í≤ΩÏö∞ (ÎÜìÏπ®, error II)  

> Ï†ïÎ∞ÄÎèÑ (Precision): Ïã§Ï†ú Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóò ÌôòÏûê Ï§ëÏóêÏÑú Î™®Îç∏Ïù¥ Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóòÍµ∞ÏúºÎ°ú Ï†ïÌôïÌïòÍ≤å ÏòàÏ∏°Ìïú ÌôòÏûêÏùò ÎπÑÏú®ÏùÑ ÎÇòÌÉÄÎÇ∏Îã§. Ï¶â Î™®Îç∏Ïù¥ ÏñºÎßàÎÇò ÎßéÏùÄ Ïã¨Ïû•ÎßàÎπÑ ÏúÑÌóò ÌôòÏûêÎ•º "ÎÜìÏπòÏßÄ ÏïäÍ≥†" Í∞êÏßÄ ÌñàÎäîÏßÄ Ï∏°Ï†ïÌïúÎã§.
> 
> 
> üèÜÏûÑÍ≥ÑÏπòÎ•º ÎÇÆÏ∂∞ÏÑú Ïû¨ÌòÑÏú®ÏùÑ ÎÜíÏó¨Ï£ºÎäî Í≤ÉÏù¥ Ï†ÅÌï©ÌïòÎã§.

1) id: unique identifier
2) gender: "Male", "Female" or "Other"
3) age: age of the patient
4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension
5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease
6) ever_married: "No" or "Yes"
7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"
8) Residence_type: "Rural" or "Urban"
9) avg_glucose_level: average glucose level in blood
10) bmi: body mass index
11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*
12) stroke: 1 if the patient had a stroke or 0 if not

In [28]:
heart_df = pd.read_csv('./datasets/healthcare-dataset-stroke-data.csv')
heart_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [29]:
heart_df.duplicated().sum() # Ï§ëÎ≥µÎêú ÌñâÎèÑ ÏóÜÏùå

0

In [30]:
heart_df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [36]:
# heart_df['bmi'].describe().T
mean = heart_df['bmi'].mean
print(mean)

<bound method Series.mean of 0       36.6
1        NaN
2       32.5
3       34.4
4       24.0
        ...
5105     NaN
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 5110, dtype: float64>

In [37]:
heart_df['bmi'].fillna(mean)

0                                                    36.6
1       <bound method Series.mean of 0       36.6\n1  ...
2                                                    32.5
3                                                    34.4
4                                                    24.0
                              ...
5105    <bound method Series.mean of 0       36.6\n1  ...
5106                                                 40.0
5107                                                 30.6
5108                                                 25.6
5109                                                 26.2
Name: bmi, Length: 5110, dtype: object

In [38]:
heart_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [39]:
heart_df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64